.SectionDivan {
    background-color: #ECFDFF;
}

.SectionDivan__box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 200px;
}

.SectionDivan__left h1 {
    font-size: 66px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 72px;
}

.SectionDivan__left {
    max-width: 450px;
}

.SectionDivan__left p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 70px;
    padding-right: 80px;
    color: black;

}

.SectionDivan__left button {
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #ff3368;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
    background-size: 200% auto;
    text-transform: uppercase;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
    background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
}

.SectionDivan__right{
    padding-top: 20px;
}