.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
}

.Header__right ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.Header__right ul a{
    text-decoration: none;
    font-size: 20px;
}